@layer base {
    /* remove scrollbar */
    body::-webkit-scrollbar {
      display: none;
    }
    body {
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
    }
    html {
      scrollbar-width: none;
    }
    /* remove touch blue in mobile  */
    @media screen and (max-width: 640px) {
      * {
        cursor: default !important;
      }
    }
  }